.whats-new, .notifications, .swepah-network {
  margin: auto;
  margin-top: 3%;
  padding: 1%;
  width: fit-content;
  max-width: 50%;
  border: solid 2px black;
}

h3 {
  text-decoration: underline;
}